<!--
  Generated template for the SubcategoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>subcategory</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="subCatagoryForm" danger>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label stacked><span class="input-label"> Catalog ID</span></ion-label>
            <ion-select formControlName="catalogId">
              <ion-option *ngFor="let catalog of catalogList | async" [value]="catalog.catalogId">
                {{catalog.catalogDesc}}
              </ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label stacked><span class="input-label"> Category ID</span></ion-label>
            <ion-select formControlName="catagoryId">
              <ion-option *ngFor="let catagory of catagoryList | async" [value]="catagory.catagoryId">
                {{catagory.catagoryDesc}}
              </ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label stacked><span class="input-label">SubCatalogId</span></ion-label>
            <ion-input type="text" value="" formControlName="subCatagoryId" placeholder="subCatagoryId" value=""></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label stacked><span class="input-label">SubCatagoryDesc</span></ion-label>
            <ion-input type="text" value="" formControlName="subCatagoryDesc" placeholder="subCatagoryDesc"
                       value=""></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col width-50>
          <button type="button" ion-button round block color="danger"
                  (click)="subCatagorySubmit(subCatagoryForm.value)" [disabled]="!subCatagoryForm.valid"><span
            style="color: black">Send</span></button>
        </ion-col>
        <ion-col width-50>
          <button type="reset" ion-button round block color="danger"><span
            style="color: black">Clear</span>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

  <div *ngIf="subCatagoryList" class="row">
    <h4> Displaying the Catalog information for Admin User only</h4>
    <ion-grid>
      <ion-row>
        <ion-col col-md-3><strong>Catalog Id</strong></ion-col>
        <ion-col col-md-3><strong>Catagpry Id</strong></ion-col>
        <ion-col col-md-3><strong>SubCatagpry Id</strong></ion-col>
        <ion-col col-md-3><strong>SubCatagory Description </strong></ion-col>
        <ion-col col-md-3><strong>Action </strong></ion-col>
      </ion-row>
      <ion-row *ngFor="let catagoryInfo of subCatagoryList | async">

        <ion-col col-md-3>{{catagoryInfo.catalogId}}</ion-col>
        <ion-col col-md-3>{{catagoryInfo.catagoryId}}</ion-col>
        <ion-col col-md-3>{{catagoryInfo.subCatagoryId}}</ion-col>
        <ion-col col-md-3>{{catagoryInfo.subCatagoryDesc}}</ion-col>

        <ion-col col-md-3>
          <button ion-button small color="danger" (click)="catalogRemove(catagoryInfo.$key)">Remove</button>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>

</ion-content>
