<ion-header class="aayush-header">
  <ion-navbar color="house">
    <ion-grid>
      <ion-row col-xs-12>
       <ion-col col-xs-4>
          <ion-grid class="header-icons">
            <ion-row><img src="build/image/logo.png">
            </ion-row>
            <ion-row>
              <button icon-button menuToggle align-self-baseline>
                <ion-icon name="menu"></ion-icon>
              </button>
            </ion-row>
          </ion-grid>
        </ion-col>

        <ion-col col-xs-4>
          <ion-title align-self-baseline text-center>Home
            <button ion-button round color="house" *ngIf="productsList.length > 0"
                    (click)="showShoppingCart()" float-end>
              <ion-icon icon-only name="cart" align-self-end style="zoom: 1.5;"
                        color="houseMenu"></ion-icon>
              <ion-badge align-self-end float-lg-right>{{productsList.length}}</ion-badge>


            </button>

          </ion-title>
        </ion-col>


        <ion-col col-xs-4>
          <div *ngIf="userInfo != null && userInfo.fname != ''">
            <label style="position: fixed;
                   top: 0px;
                   right: 5px;
                   margin-top: 0px;
                   float: right;
                   align-content: start;
                   padding: 2px;
                   padding-right: 15px;">Welcome, {{
              userInfo.fname}} </label>
            <button small ion-button (click)="logOff($event)" style="position: absolute; right: 0px; width: 30px;
    height: 25px;
    border: 1px solid #73AD21;
    padding: 10px;
    margin-top: 5px;
    top: 5px;">
              <ion-icon ios="ios-exit" md="md-exit"></ion-icon>
            </button>
          </div>
        </ion-col>

      </ion-row>
    </ion-grid>


  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card *ngFor=" let video of this.posts" col-xs-12 col-md-12 col-lg-6
            class="homescreen-card">
    <ion-card-header light>
      {{video.snippet.title}}
    </ion-card-header>
    <ion-card-content>
      <div *ngIf="platform.is('android') || platform.is('ios')">
        <img src="{{video.snippet.thumbnails.high.url}}" (click)="openVideo(video)">
      </div>
      <div *ngIf="platform.is('core')">

        <iframe width="300" height="315"
                [src]="video.id.videoId | youtube" frameborder="0"
                allowfullscreen></iframe>
      </div>


    </ion-card-content>
  </ion-card>

</ion-content>
