<ion-menu type="overlay" [content]="content">
  <ion-header>
    <ion-toolbar color="house">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list color="houseMenu" no-lines>
      <button color="houseMenu" menuClose  ion-item *ngFor="let p of pages"
              (click)="openPage(p)">
        {{ p }}

      </button>
    </ion-list>

    <ion-list no-lines color="houseMenu">
      <div *ngFor="let catalog of catalogLists; let i = index; ">
        <ion-item color="houseMenu" item-right
                  [ngClass]="{ active: isLevel1Shown('idx'+i) }"
                  (click)="toggleLevel1('idx'+i)">
          <ion-icon color="secondary" item-right
                    *ngIf="catagoryList != null"
                    [name]="isLevel1Shown('idx'+i) ? 'arrow-dropdown-circle' : 'arrow-dropright-circle'"></ion-icon>
          <div (click)="showProductWithCatalogId(catalog.catalogId)" menuClose> {{
            catalog.catalogDesc }}
          </div>

          <div *ngFor="let catagory of categoryLists; let j= index; " text-wrap>
            <ion-item color="houseMenu"
                      *ngIf="(catalog.catalogId == catagory.catalogId) && isLevel1Shown('idx'+i)"
                      [ngClass]="{ active: isLevel2Shown('idx'+i+'idx'+j) }"
                      (click)="toggleLevel2('idx'+i+'idx'+j)">
              <div (click)="showProductWithCatagoryId(catagory.catagoryId)" menuClose>{{
                catagory.catagoryDesc}}
              </div>
              <ion-icon color="secondary" item-right
                        [name]="isLevel2Shown('idx'+i+'idx'+j) ? 'arrow-dropdown-circle' : 'arrow-dropright-circle'"></ion-icon>
              <div *ngFor="let subCatagory of subCategoryLists; let k=index;" text-wrap>
                <ion-item color="houseMenu"
                          *ngIf="isLevel2Shown('idx'+i+'idx'+j) && (catagory.catagoryId == subCatagory.catagoryId) "

                >
                  <div (click)="showProductWithSubCatagoryId(subCatagory.subCatagoryId)"
                       menuClose>{{
                    subCatagory.subCatagoryDesc}}
                  </div>

                </ion-item>
              </div>

            </ion-item>
          </div>
        </ion-item>
      </div>

    </ion-list>



  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
